#conseriestable table, #conseriestable th, #conseriestable td{
    padding: .35rem;
    line-height: 1.05;
    background-color: #f1f1d0;
    border-style: hidden;
    vertical-align: top;
    font-size: smaller
}